---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@mixin font-face($font_family, $file_name) {
  @font-face {
    font-family: $font_family;
    src: url('/fonts/' + $file_name + '-webfont.eot');
    src: url('/fonts/' + $file_name + '-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/' + $file_name + '-webfont.woff') format('woff'),
         url('/fonts/' + $file_name + '-webfont.ttf') format('truetype'),
         url('/fonts/' + $file_name + '-webfont.svg#' + $font_family) format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face('Museo Sans Bold', 'museosans_500');
@include font-face('Museo Slab', 'museoslab_700');

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font-family: 'Museo Slab', Helvetica, Arial, sans-serif;
$secondary-header-family: 'Museo Sans Bold', Helvetica, Arial, sans-serif;

$background-base:  #B3DFDC;
$background-color: lighten($background-base, 15%);
$heading-base:     #E26B25;
$border-color:     lighten($heading-base, 20%);
$text-color:       #111;

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: $base-font-family;
  color: $text-color;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: $heading-base;
  text-transform: uppercase;
  font-family: $header-font-family;

  a, a:visited {
    color: $heading-base;
  }
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
  color: #333;
  font-family: $secondary-header-family;
}

h3 {
  text-align: center;
  color: $heading-base;
  font-family: $header-font-family;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0;
}

h3.senate-from-electorate {
  text-transform: none;
  margin-bottom: 3em;
}

h3.senate-from-electorate a {
  text-transform: uppercase;
}

header, .content, footer {
  width: 45em;
  max-width: 100%;
  margin: 1em auto;
}

.boxed {
  border-top: 3px solid $border-color;
  border-bottom: 3px solid $border-color;
  background-color: #fff;
  padding: 1em 0;
}

article {
  margin: 1em;
  font-size: 1.2em;
}

article form {
  font-size: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

.form-element {
  display: block;
  margin: 0.5em auto;
  width: 220px;
  text-align: center;
  text-transform: uppercase;
}

#postcode-form input {
  font-size: 1.5em;
}

@media (max-width:768px) {
  #postcode-form input[type="submit"] {
    font-size:1em;
  }
}

footer p {
  margin: 1em;
  font-size: 0.9em;
  color: #666;
}

.noscript {
  margin-bottom: 4em;
}

ul.candidates {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  margin-bottom: 4em;

  li.candidate {
    list-style-type: none;
    padding: 0;
    margin: 0;

    h4 {
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-size: 1.3em;
      font-family: $secondary-header-family;

      .party {
        font-size: 85%;
      }
    }

    ul.links {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding-right: 1em;

        a {
          text-decoration: none;
        }

        img {
          height: 1.5em;
        }
        span {
          position: relative;
          top: -9px;
          text-decoration: underline;
        }
      }
    }

    ul.oa-links {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding-right: 1em;
      }
    }
  }
}
