<footer class="boxed">
  <p>This site was built by <a href="http://freelancing-gods.com">Pat Allan</a> in 2016, and is open sourced on <a href="https://github.com/pat/my_candidates">GitHub</a>. Contributions are certainly welcome, as are <a href="https://docs.google.com/forms/d/1mpS6fpwPAQGciaydUn-l_YyCEosYic3PHbdJf6Cz8gc/viewform">details for any candidates</a>. If you've got feedback, send it through on <a href="https://twitter.com/pat">Twitter</a>.</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77765779-1', 'auto');
  ga('send', 'pageview');

</script>
