---
layout: default
---
<article class="candidates">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% if page.candidates == empty %}
  <p><strong>Oh no!</strong> We don't have any candidates listed for your electorate. Perhaps you know at least one of them? Please do <a href="https://docs.google.com/forms/d/1mpS6fpwPAQGciaydUn-l_YyCEosYic3PHbdJf6Cz8gc/viewform">let us know</a> and we'll get this site updated as quickly as possible.</p>
  {% else %}
  <p>The electorate {{ page.title }} has the following candidates (listed in alphabetical order):</p>

  <ul class="candidates">
    {% for candidate in page.candidates %}
    <li>
      <h2>
        <span class="name">{{ candidate.name }}</span>
        {% if candidate.party %}
        <span class="party">({{ candidate.party }})</span>
        {% endif %}
      </h2>
      {% if candidate.twitter or candidate.facebook or candidate.webpage %}
      <ul class="links">
      {% if candidate.twitter %}
        <li class="twitter">
          <a href="{{ candidate.twitter }}">
            <img src="/images/twitter.png" />
            Twitter
          </a>
        </li>
      {% endif %}
      {% if candidate.facebook %}
        <li class="facebook">
          <a href="{{ candidate.facebook }}">
            <img src="/images/facebook.png" />
            Facebook
          </a>
        </li>
      {% endif %}
      {% if candidate.webpage %}
        <li class="webpage">
          <a href="{{ candidate.webpage }}">
            <img src="/images/rss.png" />
            Webpage
          </a>
        </li>
      {% endif %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p>It's quite possible that we don't have all candidates listed here - it's an ongoing effort to find all their information. If you know any candidates or details we're missing, please do <a href="https://docs.google.com/forms/d/1mpS6fpwPAQGciaydUn-l_YyCEosYic3PHbdJf6Cz8gc/viewform">let us know</a>.</p>
  {% endif %}
</article>
